TD {
	FONT-SIZE: 12px; 
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif;
	margin:0:
  padding:0;
}
TR {
  margin:0:
  padding:0;
}
BODY {
	FONT-FAMILY: Arial, Tahoma, Helvetica, sans-serif;
	BACKGROUND-IMAGE: url(images/e007_01.png);
	background:#CCCCCC;
	margin:0;
	padding:0;
}
.content {
	PADDING-RIGHT: 20px; BACKGROUND-POSITION: left 50%; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(images/e007_16.png); PADDING-BOTTOM: 40px; PADDING-TOP: 10px; BACKGROUND-REPEAT: repeat-y;
}
.menutop {
	PADDING-RIGHT: 10px; BACKGROUND-POSITION: left 50%; PADDING-LEFT: 15px; FONT-WEIGHT: bold; BACKGROUND-IMAGE: url(images/e007_06.png); VERTICAL-ALIGN: middle; COLOR: #000000; BACKGROUND-REPEAT: no-repeat; HEIGHT: 36px;
}
A:link {
	COLOR: #ff0000; TEXT-DECORATION: underline;
}
A:visited {
	COLOR: #ff0000; TEXT-DECORATION: underline;
}
A:hover {
	COLOR: #000099; TEXT-DECORATION: none;
}
.menutop A:link {
	COLOR: #000000; TEXT-DECORATION: none;
}
.menutop A:visited {
	COLOR: #000000; TEXT-DECORATION: none;
}
.menutop A:hover {
	COLOR: #000000; TEXT-DECORATION: underline;
}
.footer {
	COLOR: #000000;
}
.footer A:link {
	COLOR: #000000;
}
.footer A:visited {
	COLOR: #000000;
}
.newsbar {
	PADDING-LEFT: 20px; FONT-WEIGHT: bold; COLOR: #000000;
}
.logo {
	FONT-WEIGHT: bold; COLOR: #000000; FONT-FAMILY: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.leftcontent {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 25px; PADDING-TOP: 15px;
}
.style1 {
	FONT-SIZE: 16px;
}